.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
    margin-top: 0.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #3b82f6;
    /* Tailwind blue-500 */
}

input:checked+.slider:before {
    transform: translateX(18px);
}

#contentText h1 {
    font-size: 2rem;
    font-weight: bold;
}

#contentText h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

#contentText h3 {
    font-size: 1.25rem;
    font-weight: bold;
}